<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <div id="content">

        <div class="post" class="container">
            <div class="post-header-section">
                <h1>Sample Title</h1>
                <p class="post-date">
                    Date
                </p>
                <ul class="post-tags">
                    <li>#abc</li>
                    <li>#def</li>
                </ul>
            </div>
            <div class="post-content">
                <p>
                    slkjdflks
                    lksdjflkdsj
                    lksdjflksjf slkdjfkljf lkjlkjlkj kljl kjljl jljl jl jlj lj lj jlslkdjflkss
                    sdkjflk jlkj lkj lkjl jl jl jklk jlkj lk jlkj lkjkljlkj lkjl kjhiwehqqn 
                </p>
            </div>
        </div>

    </div>
    {{- partial "footer.html" . -}}
</body>

</html>