<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}
    <main id="content">

        <div class="container tags-list">

            <h2 class="list-title">Tags</h2>
            <ul class="post-tags">
                <li class="post-tag">
                    <a href="example.com">
                        <div class="tag-name">
                            ABC</div>
                        <div class="tag-posts-count">
                            2</div>
                    </a>
                </li>
                <li class="post-tag">
                    <a href="example.com">
                        <div class="tag-name">
                            Backend</div>
                        <div class="tag-posts-count">
                            5</div>
                    </a>
                </li>
                <li class="post-tag">
                    <a href="example.com">
                        <div class="tag-name">
                            Devops</div>
                        <div class="tag-posts-count">
                            1</div>
                    </a>
                </li>
                <li class="post-tag">
                    <a href="example.com">
                        <div class="tag-name">
                            Frontend</div>
                        <div class="tag-posts-count">
                            3</div>
                    </a>
                </li>
            </ul>

        </div>

    </main>
    {{- partial "footer.html" . -}}
</body>

</html>