{{ with .PrevInSection }}
<div class="prev-post">
    <p>
        <a href="{{ .RelPermalink }}">
            &#8592;
            {{ i18n "previous" }}:
            {{ .Title }}
        </a>
    </p>
    <p class="prev-post-date">
        {{ dateFormat "January 2, 2006" .Date }}
    </p>
</div>
{{ end }}

{{ with .NextInSection }}
<div class="next-post">
    <p>
        <a href="{{ .RelPermalink }}">
            {{ i18n "next" }}:
            {{ .Title }}
            &#8594;
        </a>
    </p>
        <p class="next-post-date">
            {{ dateFormat "January 2, 2006" .Date }}
        </p>
</div>
{{ end }}
