{{ define "main" }}
<section class="home-about">
	<div class="avatar">
        {{ if isset .Site.Params "avatarurl" }}
        <img class={{ .Site.Params.AvatarSize | default "size-m" }} src='{{ .Site.Params.AvatarURL }}'>
        {{ end }}
	</div>
    <h1>{{ .Site.Title }}</h1>
    <h3>{{ .Site.Params.Description }}</h3>
</section>

<div class="flex-break"></div>

<section class="social-icons">
    <ul class="social-icons-list">
        <li class="social-icon github">
            <a href="https://github.com/526avijitgupta">
                <img class="inject-me" src="/icons/github.svg" />
            </a>
        </li>
        <li class="social-icon linkedin">
            <a href="https://github.com/526avijitgupta">
                <img class="inject-me" src="/icons/linkedin.svg" />
            </a>
        </li>
        <li class="social-icon stackoverflow">
            <a href="https://github.com/526avijitgupta">
                <img class="inject-me" src="/icons/stackoverflow.svg" />
            </a>
        </li>
        <li class="social-icon dribbble">
            <a href="https://github.com/526avijitgupta">
                <img class="inject-me" src="/icons/dribbble.svg" />
            </a>
        </li>
        <li class="social-icon twitter">
            <a href="https://github.com/526avijitgupta">
                <img class="inject-me" src="/icons/twitter.svg" />
            </a>
        </li>
        <li class="social-icon buymeacoffee">
            <a href="https://github.com/526avijitgupta">
                <img class="inject-me" src="/icons/buymeacoffee.svg" />
            </a>
        </li>
    </ul>
</section>

{{ if isset .Site.Params "showpostsonhomepage" }}

    <div class="home-posts list-posts">
        <h2>{{ .Site.Params.ShowPostsOnHomePage | humanize }} Posts</h2>

    {{ $posts := where .Site.Pages "Params.type" "post" }}

    {{ if eq .Site.Params.ShowPostsOnHomePage "popular" }}
        {{ range $posts.ByWeight | first 4 }}
            {{- partial "list-posts.html" . -}}
        {{ end }}
    {{ else if eq .Site.Params.ShowPostsOnHomePage "recent" }}
        {{ range $posts.ByDate.Reverse | first 4 }}
            {{- partial "list-posts.html" . -}}
        {{ end }}
    {{ end }}
    </div>

{{ end }}

{{ end }}
