html {
  background: #121212 !important;
  color: white !important;
}

a {
  color: white;
}

.header {
  box-shadow: rgba(102, 102, 102, 0.5) 0px 1px 2px 0px;
  background-color: #1f1f1f !important;
  color: white !important;
}

.nav-links .nav-icons-divider {
  color: #484848; !important
}

.footer {
  border-top-color: #333 !important;
}

blockquote {
  border-left-color: #333 !important;
}

/* TODO: Check if this is needed or not */
/* 
img,
video {
  filter: hue-rotate(180deg) contrast(100%) invert(100%);
  -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%);
} 
*/
