html {
  background: #171717 !important;
  color: white !important;
}
.header {
  background-color: #1b1c1d !important;
  color: white !important;
}

/* TODO: Check if this is needed or not */
/* 
img,
video {
  filter: hue-rotate(180deg) contrast(100%) invert(100%);
  -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%);
} 
*/
