html {
  background: #121212 !important;
  color: #e2e2e2 !important;
}

.header,
code,
pre {
  background-color: #1f1f1f !important;
  color: #e2e2e2 !important;
}

/* TODO: Check if this is needed or not */
/* 
img,
video {
  filter: hue-rotate(180deg) contrast(100%) invert(100%);
  -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%);
} 
*/
