html {
  background: white;
  color: black;
  font-family: "Roboto", sans-serif;
}

/* HEADER */
.header {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px;
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.04rem;
  height: 70px;
  left: 0;
  opacity: 0.95;
  position: fixed;
  top: 0;
  -ms-transition: height 0.5s ease-out;
  -moz-transition: height 0.5s ease-out;
  -webkit-transition: height 0.5s ease-out;
  -o-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
  width: 100%;
}
.header.small {
  height: 50px;
}
.header a {
  color: inherit;
  text-decoration: none;
}
.header .header-nav {
  height: 50px;
  margin-top: 10px;
  -ms-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -webkit-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out;
}
.header .header-nav.small {
  margin-top: 0;
}
.header-nav .avatar {
  border: 0.5px solid white;
  border-radius: 18px;
  float: left;
  height: 100%;
  margin-left: 15px;
}
.header-nav .avatar img {
  border-radius: 100%;
  display: block;
  height: 50px;
  overflow: hidden;
  width: 50px;
}
.header-nav .nav-title {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  padding-left: 10px;
}
.nav-title a {
  font-size: 20px;
  height: 50px;
}
.header-nav .nav-links {
  float: right;
  line-height: 50px;
  margin-right: 15px;
}
.nav-links .nav-link {
  display: inline-block;
}
.nav-links .nav-link a {
  display: block;
  padding: 0 10px;
}
.nav-links .nav-link.icon a {
  padding: 0 8px;
}
.nav-links .nav-icons-divider {
  border-color: inherit;
  border-left: 1px solid;
  margin-right: 4.5px;
}
.nav-links #dark-light-theme-toggle:hover {
  cursor: pointer;
}

/* FOOTER */
.footer {
    text-align: center;
}

.footer a {
  font-family: "Ubuntu", sans-serif;
  color: #000000;
}

/** COMMON **/
/* TAGS */
.post-tags {
  list-style-type: none;
  padding: 0;
}
.post-tags .post-tag {
  background-color: #0058b5;
  border: 1px solid #0058b5;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 14px;
  padding: 4px 12px;
}
.post-tags .post-tag:hover {
  background-color: #3d86d2;
  border: 1px solid #3d86d2;
}
.post-tag a {
  color: inherit;
  text-decoration: none;
}

/* CODE BLOCKS */
code,
pre {
  background-color: #eee !important;
  box-sizing: border-box;
}

pre {
  font-size: 0.95rem;
  padding: 20px;
}

code {
  box-decoration-break: clone;
  padding: 0 3px;
  word-wrap: break-word;
}

/* SINGLE */
#content {
  width: 810px;
  margin: 180px auto 0;
}
.post .post-date {
  color: gray;
}
.post .post-content {
  margin-top: 50px;
}

/* LIST */
.list-posts .list-title {
  text-align: center;
}
.list-posts .posts-year {
  margin-top: 40px;
}
.list-posts .post-title {
  margin: 10px 0;
}
.post-title .post-date {
  float: right;
}
.tags-list .post-tags {
  margin-top: 50px;
}
.tags-list .post-tags .post-tag {
  margin: 0 5px;
  padding: 0;
}
.tags-list .post-tags .post-tag a div {
  display: inline-block;
  padding: 5px 8px;
}
.tags-list .post-tags .post-tag a .tag-posts-count {
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}
