html {
  font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
}

.header-light {
  background-color: #bbb;
  color: black;
}

.header-dark {
  background-color: #1b1c1d;
  color: white;
}

.header {
  position: fixed;
  height: 70px;
  left: 0;
  top: 0;
  width: 100%;
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.header.small {
  height: 50px;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.header .header-nav {
  height: 50px;
  margin-top: 10px;
  -ms-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.header .header-nav.small {
  margin-top: 0;
}

.header-nav .avatar {
  float: left;
  /* display: inline-block; */
  margin-left: 15px;
  height: 100%;
  border: 0.5px solid white;
  border-radius: 18px;
}
.header-nav .avatar img {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
}

.header-nav .nav-title {
  display: inline-block;
  padding-left: 10px;
  height: 100%;
  line-height: 50px;
}

.nav-title a {
  height: 50px;
  font-size: 20px;
}

.header-nav .nav-links {
  line-height: 50px;
  float: right;
  margin-right: 15px;
}

.nav-links .nav-link {
  display: inline-block;
}

.nav-links .nav-link a {
  display: block;
  padding: 0 10px;
}

.nav-links .nav-link.icon a {
  padding: 0 8px;
}

.fab {
  font-family: FontAwesome !important;
}

#content {
  width: 810px;
  margin: 180px auto 0;
}

.post .post-date {
  color: gray;
}

.post .post-tags {
  padding: 0;
  list-style-type: none;
}

.post-tags .post-tag {
  display: inline-block;
  background-color: #008c86;
  padding: 4px 12px;
  border-radius: 4px;
  border: 1px solid #008c86;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.post .post-content {
  margin-top: 50px;
}

.list-posts .list-posts-title {
  text-align: center;
}

.list-posts .posts-year {
  margin-top: 40px;
}

.list-posts .post-title {
  margin: 10px 0;
}

.post-title .post-date {
  float: right;
}
