<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        :root {
            --accent-color: {{ .Site.Params.AccentColor | default "#FF4D4D" }};
        }
    </style>

    <link rel="stylesheet" type="text/css" href="/css/normalize.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link disabled id="dark-theme" rel="stylesheet" href="/css/dark.css">

    <script src="/js/feather-icons.min.js"></script>
    <script src="/js/main.js"></script>

    <!-- Option for user to inject custom html -->
    {{ if .Site.Params.CustomHeadHTML }}
    {{ .Site.Params.CustomHeadHTML | safeHTML }}
    {{ end }}

    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>
