<header class="header">
    <nav class="header-nav">

        <div class="avatar">
            <a href="{{ .Site.BaseURL }}">
                <img src=".Site.Params.Avatar" alt="Avatar" />
            </a>
        </div>

        <div class="nav-title">
            <a class="nav-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </div>

        <div class="nav-links">
            {{ range .Site.Menus.main }}
            <div class="nav-link">
                <a href="{{ .URL }}">
                    {{- .Pre | safeHTML }} {{ .Name }} {{ .Post | safeHTML -}}
                </a>
            </div>
            {{ end }}

            <!-- TODO: Handle 
            <div class="nav-link icon">
                <a href="http://example.com">
                    <span class="fa fa-github"></span>
                </a>
            </div>
            <div class="nav-link icon">
                <a href="http://example.com">
                    <span class="fa fa-linkedin"></span>
                </a>
            </div>
            -->
            <span class="nav-icons-divider"></span>
            <div class="nav-link" id="dark-theme-toggle">
                <a>
                    <span id="theme-toggle-icon" data-feather="moon"></span>
                </a>
            </div>

        </div>
    </nav>
</header>
